subscription_id = "YOUR-SUBSCRIPTION-ID"

location     = "East US"
environment  = "dev"
project_name = "your-project"

vnet_address_space = [
  "10.0.0.0/16"
]

app_subnet_prefix = [
  "10.0.1.0/24"
]

private_endpoint_subnet_prefix = [
  "10.0.2.0/24"
]

db_subnet_prefix = [
  "10.0.3.0/24"
]

vm_size = "Standard_B2s"

admin_username = "azureadmin"

admin_ssh_public_key = "YOUR_SSH_PUBLIC_KEY"

storage_account_name = "uniquestorageaccount"

sql_admin_username = "sqladminuser"

sql_admin_password = "USE_A_SECRET_MANAGER"